:root {
  --kk-primary: #20aa65; /* Verde Krispy Kreme */
  --kk-secondary: #cc1e1ed8; /* Rojo Krispy Kreme */
  --kk-accent: #fff5e1; /* Beige claro */
  --kk-text-dark: #2d2a26;
  --kk-bg: #f5f5f5;
}
